body {
    color: #000;
    background: #eeeeee;
}

a {
    color: #B71C1C;
}

a:hover {
    color: #B71C1C;
}

.sketchbook-row {
    margin-bottom: 30px;
}

.sketchbook-column {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 13%;
}

.sketchbook-thumbnail {
    -moz-box-shadow:    inset 0 0 100px #000000;
    -webkit-box-shadow: inset 0 0 100px #000000;
    box-shadow:         inset 0 0 100px #000000;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.sketchbook-thumbnail:last-child {
    margin-right: 0;
}

.square290 {
    height: 290px;
    width: 290px;
}

.square30P {
    width: 30%;
    height: auto;
}
