body {
    color: #FFF;
    background: #111111;
}

.title {
    margin-top: 5%;
    margin-bottom: 5%;
}

.title.logged {
    margin-bottom: 0;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    opacity: 0.5;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    color: #FFF;
    border: 1px solid #FFF;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #FFF;
    border: 1px solid #DDD;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #000;
    border-color: #000;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #000;
    background-color: #FFF;
    border-color: #FFF;
}

/* Forms */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    color: #DDD;
    background-color: #000;
    border: 1px #DDD;
    border-style: none none solid none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    color: #FFF;
    background-color: #000;
    border: 1px #FFF;
    border-style: none none solid none;
}

/* Custom */

li {
    margin: 0 auto;
}

.date {
    text-align: left;
}

.navbar {
    padding: 10px 0 10px 0;
    border-top: 1px solid #AAAAAA;
    margin-bottom: 5%;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-item a {
    color: #AAAAAA;
}

.navbar-item a:hover {
    color: #FFF;
}

.title-input {
    width: 100%;
    display: block;
}

.post-body {
    width: 100%;
    min-height:300px;
    display: block;
    resize: vertical;
}

.borderless {
    border: 0px solid !important;
}

/* For devices larger than 750px */
@media (min-width: 550px) {
    .date {
        text-align: right;
    }
}

.footer div {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 60px;
}
